@page
@model IndexModel
@{
    ViewData["Title"] = "Pocetna strana";
}

<div class="telo">
    <form method="post">
        <label class="control-label" asp-for="Smer">Smer:</label>
        <select asp-for="Smer">
            <option>Selektuj smer prevodjenja</option>
            <option value="0">Engleski -> Srpski</option>
            <option value="1">Srpski -> Engleski</option>
        </select>
        <br />
        <br />
        <label class="control-label" asp-for="Engleski">Engleska reč:</label>
        <input type="text" asp-for="Engleski" value="@Model.eng" />
        <br />
        <br />
        <label class="control-label" asp-for="Srpski">Srpska reč:</label>
        <input type="text" asp-for="Srpski" value="@Model.srp" />
        <br />
        <br />
        <label class="control-label" asp-for="Opis">Opis:</label>
        <input style="width: 300px; height:100px;" type="text" asp-for="Opis" value="@Model.opis" />
        <br />
        <br />
        <button type="submit">Prevedi</button>
    </form>
</div>